<img src={{deputado?.foto}} class="perfil__foto foto">
<section class="perfil__informacoes-pessoais">
  <h3 class="pefil__informacoes-pessoais--title">Informações Pessoais</h3>
  <div class="pefil__nome">
    Nome: <span class="perfil__nome--text">{{deputado?.nome}}</span>
  </div>
  <div class="pefil__data-nascimento">
    Data de Nascimento: <span class="perfil__data-nascimento--text">{{deputado?.dataNascimento}}</span>
  </div>
  <div class="pefil__sexo">
    Sexo:<span class="perfil__sexo--text">{{deputado?.sexo}}</span>
  </div>
</section>
<section class="perfil__informacoes-politicas">
  <h3 class="pefil__informacoes-politicas--title">Informações Políticas</h3>
  <div class="pefil__estado">
    Estado: <span class="perfil__estado--text">{{deputado?.estado}}</span>
  </div>
  <div class="pefil__email">
    Email: <a href="" class="perfil__email--text">{{deputado?.email}}</a>
  </div>
  <div class="pefil__link">
    Link: <span class="perfil__link--text">{{deputado?.link}}</span>
  </div>
</section>
<section class="perfil__partido">
  <div class="pefil__partido">
    Partido: <span class="perfil__partido--text">{{deputado?.partido}}</span>
  </div>
</section>
