<button class="barra-pesquisa__pesquisar button" (click)="mostrarBarra()">Pesquisar</button>

<form (ngSubmit)="pesquisar()" class="barra-pesquisa {{isAtivo()}}">
  <button class="barra-pesquisa__fechar button" (click)="esconderBarra()">Fechar</button>
  <div class="barra-pesquisa__container">
    <label for="nome" class="barra-pesquisa__nome--label label">Nome:</label>
    <input type="text" class="barra-pesquisa__nome--input input" name="nome" [(ngModel)]="nome">
  </div>
  <div class="barra-pesquisa__container">
    <label for="estado" class="barra-pesquisa__estado--label label">Estado:</label>
    <input type="text" class="barra-pesquisa__estado--input input" name="estado" [(ngModel)]="estado">
  </div>
  <div class="barra-pesquisa__container">
    <label for="partido" class="barra-pesquisa__partido--label label">Partido:</label>
    <input type="text" class="barra-pesquisa__partido--input input" name="partido" [(ngModel)]="partido">
  </div>
  <div class="barra-pesquisa__container">
    <label for="sexo" class="barra-pesquisa__sexo--label label">Sexo:</label>
    <select name="sexo" id="sexo" class="barra-pesquisa__sexo--select select" name="sexo" [(ngModel)]="sexo">
      <option value="" selected>Ambos</option>
      <option value="f">Feminino</option>
      <option value="m">Masculino</option>
    </select>
  </div>
  <button class="barra-pesquisa__buscar--button button" type="submit">Buscar</button>
</form>
