.invisible{
  display:none;
}

.input {
  border: none;
}

.button{
  border: none;
  font-family: var(--font-family-righteous);
}

.foto{
  max-width: 9rem;
  height: 12rem;
}

@media screen and (min-width: 950px){
  .foto{
    max-width: 15rem;
    height: 20rem;
  }
}
