.deputados__card{
  display: flex;
  flex-wrap: wrap;
}

.button{
  padding: 0.5rem;
  color: var(--font-color);
}

.deputados__volta{
  width: 50%;
  background-color: var(--azul-primario);
}

.deputados__proximo{
  width: 50%;
  background-color: var(--azul-secundario);
}

.deputados {
padding: 0.5rem;
}

h1 {
  padding: 2rem;
  background-color: #1279AC;
  font-family: var(--font-family-pacifico);
  font-size: 2rem;
  text-align: center;
  color: var(--font-color);
}

.deputados__titulo{
  font-family: var(--font-family-righteous);
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0 1rem 0;
  color: var(--cinza-terceario);
  text-decoration: underline;
}
