.deputados__card{
  display: grid;
  grid-template-columns: 40vw 40vw;
  width: fit-content;
  margin: 1rem auto;
  align-self: center;
  justify-items: center;
  row-gap: 1.5rem;
  column-gap: 0.5rem;
}

@media screen and (min-width: 550px){
  .deputados__card{
    grid-template-columns: 33vw 33vw 33vw;
  }
}

.button{
  padding: 0.5rem;
  color: var(--font-color);
}

.deputados__volta{
  width: 50%;
  background-color: var(--azul-primario);
}

.deputados__proximo{
  width: 50%;
  background-color: var(--azul-secundario);
}

h1 {
  padding: 2rem;
  background-color: #1279AC;
  font-family: var(--font-family-pacifico);
  font-size: 2rem;
  text-align: center;
  color: var(--font-color);
}

.deputados__titulo{
  font-family: var(--font-family-righteous);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0 0 0;
  color: var(--cinza-terceario);
  text-decoration: underline;
}

.deputados__navegacao{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
