<header>
  <h1>Àgora</h1>
  <app-barra-pesquisa (aoPesquisar)="pesquisar($event)" (aoFecharPesquisa)="fecharPesquisa()"></app-barra-pesquisa>
</header>
<body>
<app-deputado-perfil [deputadoUrl]="deputadoUrl" (aoFecharPerfil)="fecharPefil()" class="{{isPerfilAtivo()}}"></app-deputado-perfil>
<section class="deputados {{isDeputadosAtivo()}}">
  <h2 class="deputados__titulo">Deputados</h2>
  <app-deputado-card [pesquisaInfo]="pesquisaInfo" [pagina]="pagina" (aoDetalhar)="detalhar($event)" class="deputados__card"></app-deputado-card>
  <div class="deputados__navegacao {{isNavegacaoAtiva()}}">
    <button (click)="voltarPagina($event)" class="deputados__volta button">Volta</button>
    <button (click)="mudarPagina($event)" class="deputados__proximo button">Próxima</button>
  </div>
</section>
</body>
